doctype html
html(lang="zh-Hant-TW")
  head
    include includes/head.pug
  body.overflow-x-hidden
    include includes/navbar-float.pug
    include includes/nav.pug

    main
      include includes/sections/aboutus.pug
      include includes/sections/courses.pug 
      include includes/sections/calendar.pug
      include includes/sections/clubs.pug
      include includes/sections/credit.pug
      include includes/sections/link.pug

    include includes/footer.pug
