| 我們將會從基礎 C++ 語法開始帶起,慢慢進入到演算法的世界。
br
| 其中包括:
ul
  each category in courses.algorithm.list
    li= category.name
    ul
      each topic in category.topics
        li= topic
br
| 初階班目標：零程式基礎 -> APCS 
a(href="https://apcs.csie.ntnu.edu.tw/" target="_blank" rel="noopener noreferrer")
  u 觀念 3/實作 3 級分以上
br
| 進階班目標：有 C++ 語法基礎 -> APCS 
a(href="https://apcs.csie.ntnu.edu.tw/" target="_blank" rel="noopener noreferrer") 
  u 觀念 4/實作 4 級分以上
| ,並能在各大程式競賽中獲獎。
br

