#credit {
  padding: 147px 58px 280px;
}

.credit-body {
  padding-bottom: 50px;
}

.credit-body h2.title {
  margin-bottom: 50px;
}

.credit-body .container {
  gap: 56px;
}

.organize-border {
  width: 350px;
  padding: 1px;
  background: linear-gradient(to bottom right, #00E1E1, #4200FF);
  box-shadow: 0px 0px 12px 0px rgba(140, 134, 134, 0.50);
  border: none;
  border-radius: 20px;
}

.diamand .organize-border {
  height: 500px;
}

.organize-body {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 19px;
  background-color: rgb(244, 244, 244);
  padding: 20px 24px;
}

.diamand .organize-body {
  height: 498px;
}

.diamand .organize-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative
}

.organize-body h3 {
  font-size: 24px;
}

.organize-body figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

.organize-body img {
  width: 266px;
}

.diamand p {
  font-size: 14px;
  text-align: left;
}

.diamand .mask-container {
  height: 28px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.diamand .mask {
  background: linear-gradient(to left, rgba(244, 244, 244, 255), rgba(244, 244, 244, 0));
  height: 28px;
  width: 220px;
}

.diamand .see-more {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-right: 12px;
  width: 80px;
  background-color: rgb(244, 244, 244);
  color: #3273dc;
}

.diamand .see-more:hover {
  color: #3273dc;
  text-decoration: underline;
}

.diamand-popup-container {
  display: none;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;

  background-color: #f4f4f42b;
  backdrop-filter: blur(3px);

  align-items: center;
  justify-content: center;
}

.diamand-popup-border {
  width: 760px;
  height: 420px;
  border: none;
  border-radius: 20px;
  padding: 1px;
  background: linear-gradient(to bottom right, #00E1E1, #4200FF);
  box-shadow: 0px 0px 12px 0px rgba(140, 134, 134, 0.50);
}

.diamand-popup-body {
  width: 100%;
  height: 100%;
  background-color: rgb(244, 244, 244);
  border: none;
  border-radius: 19px;
  padding: 24px;

  display: flex;
  gap: 30px;
}

.diamand-popup-body .intro-container {
  width: 460px;
}

.diamand-popup-body h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 9px;
}

.diamand-popup-body p {
  font-size: 14px;
}

.diamand-popup-body>.image {
  width: 220px;
  height: auto;
}

.diamand-popup-body img {
  margin: 0;
}

@media (max-width: 810px) {
  .diamand-popup-border {
    width: 560px;
    height: 480px;
  }
  
  .diamand-popup-body {
    padding: 16px;
    gap: 24px;
  }
  
  .diamand-popup-body .intro-container {
    width: 322px;
  }
  
  .diamand-popup-body h2 {
    font-size: 26px;
  }
  
  .diamand-popup-body>.image {
    width: 180px;
  }
}

@media (max-width: 615px) {
  .diamand-popup-border {
    width: 350px;
    height: 620px;
  }
  
  .diamand-popup-body {
    width: 100%;
    height: 100%;
    padding: 20px 24px;
  
    display: block;
    gap: 20px;
  }
  
  .diamand-popup-body .intro-container {
    width: 100%;
  }
  
  .diamand-popup-body h2 {
    text-align: center;
    margin-bottom: 9px;
  }
  
  .diamand-popup-body>.image {
    width: 200px;
    margin: 0 auto;
  }
}