html {
  scroll-behavior: smooth !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Noto Sans TC", sans-serif;
}

h2.title:before {
  content: '<\a0\a0';
  font-size: 1.5rem;
}

h2.title:after {
  content: '\a0/>';
  font-size: 1.5rem;
}

.floating-card {
  top: -2rem;
  left: 2rem;
  right: 2rem;
  width: calc(100% - 4rem);
  padding: 5rem 2rem;
  box-shadow: 0 -50px 50px 0 rgba(0, 0, 0, 0.15);
}

@media (max-width: 800px) {
  .floating-card {
    left: 1rem;
    right: 1rem;
    width: calc(100% - 2rem);
  }

  .reverse-column-order {
    display: flex;
    flex-direction: column-reverse;
  }
}


#title .container{
  transform: translateY(-3.25rem);
}

.intro-icon .heading {
  font-size: 1rem;
}

ul {
  list-style-type: disc;
}

.two-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

#algorithm-image,
#security-image {
  max-width: 60%;
  min-width: 300px;
  height: 100%;
}

#algorithm-image img,
#security-image img {
  filter: drop-shadow(10px 10px 7px rgba(255, 255, 255, 0.3));
}

.is-flex {
  flex-wrap: wrap;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.cover-image {
  background-image: url("../images/hero.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-image::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.25);
  backdrop-filter: blur(5px);
}

.hero.cover-image .title {
  color: #fff;
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7))
}

.hero.cover-image .subtitle {
  color: rgba(255,255,255,.9);
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7))
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animation {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fade-in {
  animation-name: fadeIn;
}

.fade-out {
  animation-name: fadeOut;
}

.buttons:last-child {
  margin-bottom: 0;
}

.org {
  max-width: 300px;
  margin: 1rem;
}

.org + figcaption {
  margin-top: -1rem;
}

.footer .section {
  padding: 1rem 1.5rem;
}

#title .hero-body {
  padding: 0 1rem;
}

#title .title,
#footer .title {
  word-break: keep-all;
}

.divider {
  width: 75%;
  max-width: 650px;
  margin: auto;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0;
    transform: scale(1.5);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.pulsing {
  z-index: 1;
}

.pulsing::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transition: opacity .3s, transform .3s;
  animation: pulse 1s cubic-bezier(.55,.09,.68,.53) infinite;
  z-index: -1;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

#calendar {
  padding: 3rem 1.5rem;
}

#calendar .card {
  height: 100%;
}

#calendar .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
