section#title.hero.is-primary.is-fullheight.is-bold
  .hero-head
    nav.navbar
      .navbar-brand
        a.navbar-item(href='/')
          img(src="static/images/index.png" alt="SCIST")
  .hero-body
    .container.has-text-centered(data-aos="zoom-in")
      h1.title.is-size-1.has-text-weight-bold
        | 南臺灣
        wbr
        | 學生
        wbr
        | 資訊
        wbr
        | 社群
      h2.subtitle.is-size-5.has-text-weight-bold
        | Students' Community of Information in Southern Taiwan
