section#title.hero.cover-image.is-fullheight.is-bold
  //- .hero-head
  //-   nav.navbar
  //-     .navbar-brand
  //-       a.navbar-item(href='/')
  //-         img(src="static/images/index_white.png" alt="SCIST")
  .hero-body
    .container.has-text-centered(data-aos="zoom-in")
      h1.title.is-size-1.has-text-weight-bold
        | 南臺灣
        wbr
        | 學生
        wbr
        | 資訊
        wbr
        | 社群
      h2.subtitle.is-size-5.has-text-weight-bold
        | Students' Community of Information in Southern Taiwan
      br
      br
      a.button.is-link.is-light.pulsing(href="https://docs.google.com/forms/d/e/1FAIpQLScglL3kmt5Yr3-rP3hVo0jLUs_uxrygLdgMAaendiBID5SX5A/viewform?usp=sharing&ouid=113378046690930000668" target="_blank" rel="noopener noreferrer" style="margin-bottom: 10px;")
        span.icon
          i.fas.fa-external-link-alt
        span 報名 S6 培訓學員
      br
      br
      a.button.is-link.is-light.pulsing(href="https://discord.gg/Ff6xZXNQq9" target="_blank" rel="noopener noreferrer" style="margin-bottom: 10px;")
        span.icon
          i.fab.fa-discord
        span 加入 Discord 伺服器
      br
      br
      a.button.is-link.is-light.pulsing(href="https://online.visual-paradigm.com/share/book/scist-v5-1v8lv4rgg4" target="_blank" rel="noopener noreferrer")
        span.icon
          i.fas.fa-external-link-alt
        span S4年刊
      br
      br
      a.button.is-link.is-light.pulsing(href="https://online.visual-paradigm.com/share/book/--1i0so5tdwl" target="_blank" rel="noopener noreferrer")
        span.icon
          i.fas.fa-external-link-alt
        span S3年刊
      br
      br
      a.button.is-link.is-light.pulsing(href="https://online.visual-paradigm.com/share/book/1-1--12019v5022" target="_blank" rel="noopener noreferrer")
        span.icon
          i.fas.fa-external-link-alt
        span S2年刊
