#navbar-float-border
    nav#navbar-float
        a(href="#")
            img(src="static/images/index.png" alt="SCIST")
        buttom#navbar-float-toggler
            svg(width="36" height="36" viewBox="0 0 24 24" fill="" xmlns="http://www.w3.org/2000/svg")
                path(d="M3 12H21" stroke="#222" stroke-width="2" stroke-linecap="round")
                path(d="M3 6H21" stroke="#222" stroke-width="2" stroke-linecap="round")
                path(d="M3 18H21" stroke="#222" stroke-width="2" stroke-linecap="round")
        ul#navbar-float-linklist
            li
                a(href="#aboutus") 關於我們
            li
                a(href="#courses") 課程內容
            li
                a(href="#clubs") 參與學校
            li
                a(href="#credit") 合作夥伴
            li
                a(href="#contact-info") 聯絡資訊
