section#aboutus.floating-card.hero.section.is-relative.is-white.box.is-medium(data-aos="fade-up")
  .columns.is-centered
    .column.is-three-quarters-desktop
      .container
        h2.title.has-text-centered #{aboutus.title}
        p.content #{aboutus.description}
        .columns.is-multiline.is-mobile.intro-icon
          each item in aboutus.items
            .column.is-half-mobile
              .container.has-text-centered
                p.heading #{item.title}
                p.title
                  span.icon
                    i.fas(class=item.icon)
