section#calendar.section
    .section-padding
    .section
        .container
            h2.title.has-text-centered #{calendar.title}
            .calendar-container
                iframe(src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Asia%2FTaipei&bgcolor=%23ffffff&src=Y19jMzBmYmEzMGY4NWM2MThjNmU2ZDFhODk3N2QyMzg3NGQ3ZDAzYzQ3ZjdhMmNiZGM0Njg2MTNlZjljNmVhNzk3QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%234285F4" style="border: 0" width="800" height="600" frameborder="0" scrolling="no")