section#calendar.section
    .section-padding
    .section
        .container
            h2.title.has-text-centered #{calendar.title}
            .calendar-container
                .calendar-header
                    button.calendar-prev
                        i.fas.fa-chevron-left
                .calendar-current-date
                button.calendar-next
                    i.fas.fa-chevron-right
            .calendar-grid
                each day in ['日', '一', '二', '三', '四', '五', '六']
                    .calendar-grid-header= day
