section#calendar.section
    .section-padding
    .section
        .container
            h2.title.has-text-centered #{calendar.title}
            .calendar-container
                iframe(src="https://calendar.google.com/calendar/embed?src=official%40scist.org&ctz=Asia%2FTaipei" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no")