section.hero.is-primary.is-medium
  .hero-body
    .contaner.has-text-centered
      h3.title
        | 對 SCIST 感興趣嗎？
      h4.subtitle
        | 關注我們的 FB 可以獲得更多資訊
      a.button.is-medium.is-light.is-info.pulsing(
        href="https://fb.me/scist.org"
        target="_blank"
        rel="noopener noreferrer"
      )
        span.icon
          i.fab.fa-facebook
        span scist.org

